In [5]:
a=91
b=9

In [6]:
c=a*b

In [7]:
c

819

In [8]:
name="""
hi guys this is jupy notebook
"""

In [9]:
name

'\nhi guys this is jupy notebook\n'

In [10]:
les=list(name)
les

['\n',
 'h',
 'i',
 ' ',
 'g',
 'u',
 'y',
 's',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'j',
 'u',
 'p',
 'y',
 ' ',
 'n',
 'o',
 't',
 'e',
 'b',
 'o',
 'o',
 'k',
 '\n']

In [11]:
name2="darling"
fun2=list(name2)
fun2

['d', 'a', 'r', 'l', 'i', 'n', 'g']

In [12]:
name2[4:]
name2[0:5:3]

'dl'

In [13]:
'arl' in name2
'ing' not in name2

False

In [14]:
name3="  hi"
concat=name3+" "+name2
concat

'  hi darling'

In [15]:
name.capitalize()
name.count('v')
# split - makes a list from the long string
name.split()
# strip is used to remove white spaces at start and end
name.strip
# format makes a long string or a sentence active as below . we can use values to giev in a srting
money=2800
items=3
total=1000
sentence=" arjun buys {} items from a shop and he has {}RS . The total bill was {}RS"
sentence.format(items,money,total)

' arjun buys 3 items from a shop and he has 2800RS . The total bill was 1000RS'

In [16]:
#  without using format method 
snet=sentence=" arjun buys "+ str(items) +" items from a shop and he has" + str(money) +"RS . The total bill was " + str(total) + "RS"
snet

' arjun buys 3 items from a shop and he has2800RS . The total bill was 1000RS'

In [17]:
name=="me"
name!="me"

True

In [18]:
list=name.split()
list

['hi', 'guys', 'this', 'is', 'jupy', 'notebook']

In [19]:
list2=['name',29,'think',list,2,4,'soul','heaven',666]
list2

['name',
 29,
 'think',
 ['hi', 'guys', 'this', 'is', 'jupy', 'notebook'],
 2,
 4,
 'soul',
 'heaven',
 666]

remove and pop perform same task but in different way 
remove - takes the element to remove the element from the list 
pop - takes the index of the element to remove the element

In [20]:
len(list)
len(list2)
list2[3]
list[-1]
list[-6:-1:2]
# list2.append(20)
# list2.remove(666)
# pop takes index and removes the vakue in the index whereas remove takes the value to remove
# list2.pop()
list3=list2+["hello"]
list3

['name',
 29,
 'think',
 ['hi', 'guys', 'this', 'is', 'jupy', 'notebook'],
 2,
 4,
 'soul',
 'heaven',
 666,
 'hello']

As the string has the operator " in " and " not in "  the list also use the operator which behaves same as with strings .
And also a LIST can use the concatination to add lists to lists using .
While using in and not in operators with lists one has to use the same exact element to check .

In [21]:
list4=list3.copy()
list4

['name',
 29,
 'think',
 ['hi', 'guys', 'this', 'is', 'jupy', 'notebook'],
 2,
 4,
 'soul',
 'heaven',
 666,
 'hello']

copy() is used to make a copy of a list where we can perform operations with the copied list which doesn't effect the parent list or the main list .

In [22]:
names=["karna","arjun","bheem","durryodhan","nakul"]
sort1=names.sort()
names
reverse=names.sort(reverse=True)
names

['nakul', 'karna', 'durryodhan', 'bheem', 'arjun']

sort() is the method used on lists to sort the lements in the list in alpha wise or numerical 
by default it results in ascending order but we can specify to descending order by giving reverse = True

In [23]:
# TUPLES
tuple=('hi','guys','this','is','desktop')
'hi' in tuple
'is' not in tuple

False

tuples are same as lists but they are immutable by default means when we want a list which is not modified by anyone then we can use a 
tuple . it has only 2 methods count and index .

In [24]:
#  DICTIONARY
dict1={'name':"darling" , 'age':46 , 'number':8738}

In [25]:
dict1['name']
dict1['age']
dict1.get('job',"Unknown")
dict1['salary']=12000
#  Dict methods 
dict1.keys()
dict1.items()
dict1.values()

dict_values(['darling', 46, 8738, 12000])

we can use in and not in in dictionaries .
pop is used to remove a key by taking the valueas an argument .

In [26]:
# Conditional statements in python 
# If branching
a=4
if a%2==0 :
    print("the number {} is even".format(a))

the number 4 is even

                                                                     CONDITIONAL STATEMENTS
 if - checks the condition ginen and executes the statements written in if 
 else - executes the statements when the condition in if is false
 elif - it used to check several conditions and get the required output
 We can play with lists , tuples and dictionaries in CONDITIONAL STATEMENTS like 
 by checking value is in the list/tuple not by using " in " and " not in " 
 by using value key items functios of dictionaries we can check the value/key is present i dict

In [27]:
num=18
if num%2==0 :
    print("{} is even".format(num))
else :
    print("{} is odd".format(num))

18 is even

In [28]:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
day='thursday'
if day in days :
    print('{} is in the list'.format(day))
else :
    print('invalid day entered ...')

thursday is in the list

In [29]:
if day=='monday' :
    print('today is monday')
elif day=='tuesday':
    print('day is tuesday')
elif day=='wednesday' :
    print('day is wednesday')
elif day=='thursday' :
    print('day is thursday')
elif day=='friday' :
    print('day is friday')
elif day=='saturday' :
    print('day is saturday')
elif day=='sunday' :
    print('day is sunday')
else :
    print('invalid input / enter a valid day ')

day is thursday

In [30]:

if num%2==0 :
    print('{} is even'.format(num))
elif num%3==0 :
    print('{} is divisible by 3 ')
elif num%5==0 :
    print('{} is divisible by 6')

18 is even

In [31]:

if num%2==0 and num%3==0 :
    print('{} is divisible by both 2 and 3 '.format(num))
elif not num%5==0 :

    print('{} is not divisible by 2 , 3 and 5'.format(num))

18 is divisible by both 2 and 3

In [32]:
if num%2==0 :
    print('{} is even'.format(num))
    if num%3==0 :
        print('{} is divisible by 3'.format(num))
    else :
        print('{} is not divisible by 3'.format(num))
else :
    print('{} is not even'.format(num))
    if num%5==0 :
        print('{} is divisible by 5'.format(num))
    else :
        print('{} is not divisible by 5'.format(num))

18 is even
18 is divisible by 3

In [33]:
#  SHORTHAND CONDITIONING 
if num%2==0 :
    b='even'
else :
    b='odd'
print('{} is {}'.format(num,b))

18 is even

In [34]:
%%time
fact=1
i=1
while i<=num :
    fact=fact*i
    i+=1
print('fact of {} is {}'.format(num,fact))

fact of 18 is 6402373705728000
CPU times: total: 0 ns
Wall time: 1 ms

In [35]:
pat='O'
range=8
while len(pat)<=range :
    print(pat)
    pat+='O'
while len(pat)>=range :
    print(pat)
    pat=pat[:-1]

O
OO
OOO
OOOO
OOOOO
OOOOOO
OOOOOOO
OOOOOOOO
OOOOOOOOO
OOOOOOOO

In [36]:
%%time
num=25
fact=1
i=1
while i<=num :
    fact=fact*i
    if i==15 :
        print('{} reached'.format(i))
        break
    i+=1
print(i)
print('fact of {} is {}'.format(i,fact))

15 reached
15
fact of 15 is 1307674368000
CPU times: total: 0 ns
Wall time: 0 ns

In [37]:
log='*'
limit=10
while len(log)<=limit :
    print(log)
    log=log+'*'

*
**
***
****
*****
******
*******
********
*********
**********

In [38]:
i=1
fact=0
while i<=limit :
    i+=1
    if i%2==0 :
        print('skipped {}'.format(i))
        continue
    print('adding with {} '.format(i))
    fact=fact+i
print('fact',fact)
print('i',i)

skipped 2
adding with 3
skipped 4
adding with 5
skipped 6
adding with 7
skipped 8
adding with 9
skipped 10
adding with 11
fact 35
i 11

 FOR loop
it is used whe we want to print some piece of code several times in sequence

In [39]:
for day in days :
    print(day)

monday
tuesday
wednesday
thursday
friday
saturday
sunday

In [42]:
for key in dict1 :
    print('key :',key,',','value :',',',dict1[key])
    print(key)

key : name , value : , darling
name
key : age , value : , 46
age
key : number , value : , 8738
number
key : salary , value : , 12000
salary

In [44]:

for i in list :
    print(i)

hi
guys
this
is
jupy
notebook

In [ ]:
leng

In [45]:
for value in dict1 :
    print(value)

name
age
number
salary

In [52]:

for i in list :
    for j in range(0,7) :
        print('value at {} is {} '.format(j,i))

TypeError: 'int' object is not callable

In [53]:
for day in days :
    print(day)

monday
tuesday
wednesday
thursday
friday
saturday
sunday

In [55]:
for i in range(3,10) :
    print(i)

TypeError: 'int' object is not callable

In [56]:
for i in range(3) :
    print(i)

TypeError: 'int' object is not callable

In [57]:
for i in range(3,10,2) :
    print(i)

TypeError: 'int' object is not callable

In [58]:
for day in days :
    if day=='wednesday':
        print('day is {}'.format(day))
        continue
    print(day)

monday
tuesday
day is wednesday
thursday
friday
saturday
sunday

In [59]:
def add(a,b) :
    sum=a+b
    print('addtion of {} and {} is {}'.format(a,b,sum))

In [60]:
add(2,4)

addtion of 2 and 4 is 6

In [63]:
def table(a) :
    for i in range(10) :
        mul=a*i
        print(a,'X',i,'=',mul)

In [64]:
table(9)

TypeError: 'int' object is not callable